body {
  --oci-aqua: #88cad5;
  --oci-blue: #355aa3;
  --oci-orange: #efb87d;

  /* background-color: linen; */
  background-color: var(--oci-orange);
  font-family: sans-serif;
}

button,
input,
select,
textarea {
  border-radius: 4px;
  border: solid lightgray 1px;
  box-sizing: border-box;
  padding: 4px;
}

h1,
h2 {
  color: var(--oci-blue);
}

label {
  color: var(--oci-blue);
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
