body {
  --oci-aqua: #72c7d5;
  --oci-blue: #744040ef;
  --oci-orange-rgb: 254, 182, 114;
  --oci-orange: rgb(var(--oci-orange-rgb));
  --open-dds-red: #71150e;
  --open-dds-red-alt: #931914;
  --open-dds-gray: #a2a0a0;
  --open-dds-blue: #255aa8;

  --bg-color: #e6e6e6;
  --text-color: var(--open-dds-red);
  --link-color: var(--open-dds-blue);
  --text-color-secondary: var(--open-dds-alt);
  --text-color-danger: var(--open-dds-alt);

  --button-text-color: var(--bg-color);
  --button-bg: var(--open-dds-red);
  --button-bg-hover: var(--open-dds-red-alt);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

button,
input,
select,
textarea {
  border-radius: 4px;
  border: solid lightgray 1px;
  box-sizing: border-box;
  padding: 4px;
}

button {
  font-weight: bold;
}

select,
button {
  background-color: var(--button-bg);
  color: var(--button-text-color);
  font-size: 1rem;
  padding: 0.5rem;
  white-space: nowrap;
}

select:hover,
button:hover,
select:focus,
button:focus {
  background-color: var(--button-bg-hover);
  color: var(--bg-color);
}

select:hover,
button:hover {
  background-color: var(--text-color);
}

h1,
h2 {
  color: var(--text-color);
}

label {
  color: var(--text-color);
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 0.3rem;
  text-align: center;
}
td {
  border: none;
}
tbody tr {
  border-bottom: solid grey 1px;
}
th {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.panel {
  border: 2px solid darkgray;
  background-color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

body.embedded {
  overflow-y: hidden;
  --bg-color: transparent;
}
